# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      name:
        description: name
        required: true
        type: string


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  receive:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest 
    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v3
      - name: Select issue
        id: docs
        uses: lee-dohm/select-matching-issues@v1
        with:
          query: 'repo:${{ github.repository }} "Document noir PR ${{ inputs.name }}" in:title'
          token: ${{ github.token }}
    
      - name: Close found issues
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: cat ${{ steps.docs.outputs.path }} | xargs -I {} gh issue close {}
